/*css 变量*/
:root {
    --screen-width: calc(100vw);
    --header-height: calc(8vh);
    --element-margin: calc(1vw);
}


/*地图标识属性*/
.info span {
    color: #0288d1;
    text-align: center;
}


/*导航栏和搜索框属性 https://javaforall.cn/140268.html*/
*{
    margin: 0;
    padding: 0;
}
.w{
    width: var(--screen-width);
    margin: auto;
}
li{
    list-style: none;
}
a{
    text-decroation: none;
}
.header{
    height: var(--header-height);
    /*margin: 30px auto;*/
    background: linear-gradient(deepskyblue, forestgreen);
}
.logo{
    float: left;
    width: calc(var(--screen-width) * 0.1);
    height:var(--header-height);
}
.nav{
    float: left;
    margin-left: var(--element-margin);
}
.nav ul li{
    float: left;
    margin: 0 var(--element-margin);
}
.nave ul li a{
    display: block;
    height: var(--header-height);
    padding: 0 10px;
    line-height: var(--header-height);
    color: black;
}
.nave ul li a:hover{
    border-bottom: 2px solid #00a4ff;
}
.search{
    float: left;
    width: calc(var(--screen-width) * 0.4);
    height: var(--header-height);
    background-color: #00a4ff;
    margin-left: var(--element-margin);
}
.search input{
    float: left;
    width: calc(var(--screen-width) * 0.35);
    height: var(--header-height);
    border: 1px solid #00a4ff;
    border-right: 0;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}
.search button {
    float: left;
    width: calc(var(--screen-width) * 0.05);
    height: var(--header-height);
    /* 去掉按钮默认边框 */
    border: 0;
    background: url(../images/map_page/search.jpg) no-repeat;
}
.user {
    float: left;
    margin-left: var(--element-margin);
}


/*自定义样式信息窗体 https://lbs.amap.com/demo/javascript-api/example/infowindow/custom-style-infowindow*/
.content-window-card {
    position: relative;
    box-shadow: none;
    bottom: 0;
    left: 0;
    width: auto;
    padding: 0;
}

.content-window-card p {
    height: 2rem;
}

.custom-info {
    border: solid 1px silver;
}

div.info-top {
    position: relative;
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 1px solid #CCC;
    border-radius: 5px 5px 0 0;
}

div.info-top div {
    display: inline-block;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    line-height: 31px;
    padding: 0 10px;
}

div.info-top img {
    position: absolute;
    top: 10px;
    right: 10px;
    transition-duration: 0.25s;
}

div.info-top img:hover {
    box-shadow: 0px 0px 5px #000;
}

div.info-middle {
    font-size: 12px;
    padding: 10px 6px;
    line-height: 20px;
}

div.info-bottom {
    height: 0px;
    width: 100%;
    clear: both;
    text-align: center;
}

div.info-bottom img {
    position: relative;
    z-index: 104;
}

span {
    margin-left: 5px;
    font-size: 11px;
}

.info-middle img {
    float: left;
    margin-right: 6px;
}